src/pug/contacts.pug
doctype html
html(lang="ru")
  include includes/head
  body
    header.header.section
      include includes/first-section
      include includes/navbar
    main
      .container
        .row
          .col-12
            include includes/breadcrumbs
        .row
          .col-12
            article.section.inner-page
              header
                h2.inner-page__header Контакты
              section.inner-page__content
                p  ООО «АльянсГрупп», 446213, Самарская область, г. Новокуйбышевск,
                  br
                  |ул. Молодежная, д.6, ком.91
                p Телефон: 
                  a(href="tel:"+tel+"") (84635) 4-52-33
                  br
                  |E-mail: 
                  a(href="mailto:"+email+"")  #{email}
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae30d4d629358ebe207a113b958f072f60d841345db7483fb49419d2c2245c97c&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script> 
        .row
          .col
            .section
              |Задать вопрос
    include includes/footer
    include includes/bottom-scripts

contacts.html
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Главная | Альянс Групп Самара</title>
</head>

<body>
    <header class="header section">
        <div class="first-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4"> <a href="#"><img class="img-fluid first-section__logo" src="img/logo.svg" alt="AG"></a></div>
                    <div class="d-none d-sm-block offset-sm-4 col-sm-4">
                        <div class="first-section__contacts"><a class="contact" href="#">(84635) 4-52-33</a><br><a class="contact" href="#">alians_info@mail.ru</a></div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-md">
            <div class="container"><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link active" href="#">Главная </a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">О компании</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">Документы</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">Референс-лист</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">Партнеры</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">Вакансии</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">Контакты</a></li>
                        <li class="nav-item navbar-nav__item dropdown"><a class="nav-link navbar-nav__link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Услуги</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item navbar-nav__link" href="#">ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ ГАЗОАНАЛИЗАТОРОВ</a><a class="dropdown-item navbar-nav__link" href="#">ДИНАМИЧЕСКИЕ МОДЕЛИ ТРЕНАЖЕРОВ АСУ ТП</a><a class="dropdown-item navbar-nav__link" href="#">СИСТЕМЫ УСОВЕРШЕНСТВОВАННОГО УПРАВЛЕНИЯ ТЕХНОЛОГИЧЕСКИМИ ПРОЦЕССАМИ (СУУТП)</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">Вы здесь:</li>
                            <li class="breadcrumb-item"><a href="/">Главная</a></li>
                            <li class="breadcrumb-item active"><a href="/">Cтраница</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <article class="section inner-page">
                        <header>
                            <h2 class="inner-page__header">Контакты</h2>
                        </header>
                        <section class="inner-page__content">
                            <p> ООО «АльянсГрупп», 446213, Самарская область, г. Новокуйбышевск,<br>ул. Молодежная, д.6, ком.91</p>
                            <p>Телефон: <a href="tel:undefined">(84635) 4-52-33</a><br>E-mail: <a href="mailto:alians_info@mail.ru"> alians_info@mail.ru</a></p>
                            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae30d4d629358ebe207a113b958f072f60d841345db7483fb49419d2c2245c97c&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                        </section>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="section">Задать вопрос</div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 footer__section">
                        <h3 class="footer__header">Навигация</h3>
                        <div class="footer__content">
                            <ul>
                                <li class="footer__nav-item"><a class="footer__nav-link active" href="#">Главная</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">О компании</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Документы</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Референс-лист</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Партнеры</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Вакансии</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 footer__section">
                        <h3 class="footer__header">Услуги</h3>
                        <div class="footer__content">
                            <ul>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">системы бесперебойного питания</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">весовое оборудование</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Система вентиляции</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">обслуживание газоанализаторов</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">динамические Тренажеры</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 footer__section">
                        <h3 class="footer__header">О компании</h3>
                        <div class="footer__content">ООО&nbsp;«АльянсГрупп», 446213, Самарская область, г.&nbsp;Новокуйбышевск,<br>ул.&nbsp;Молодежная, д.6, ком.91 </div>
                    </div>
                    <div class="col-lg-3 footer__section footer__section_last">
                        <h3 class="footer__header">Контакты</h3>
                        <div class="footer__content">
                            <p> E-MAIL:<br><a class="contact footer__contact" href="mailto:alians_info@mail.ru">alians_info@mail.ru</a><br>ТЕЛ./ФАКС:<br><a class="contact footer__contact" href="tel:(84635) 4-52-33">(84635) 4-52-33 </a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-center text-sm-left">
                        <p>©2019 ООО «АльянсГрупп»</p>
                    </div>
                    <div class="col-sm-6 text-center text-sm-right mb-3"><a class="footer__nav-link" style="text-transform:none;" href="https://admix.pro">ADMiX Digital Agency</a></div>
                </div>
            </div>
        </div>
    </footer><!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- AutoScroll Script -->
    <script>
    </script>
</body>

</html>
