src/pug/index.pug
doctype html
html(lang="ru")
  include includes/head
  body
    header.header.section
      include includes/first-section
      include includes/navbar
      .header__picture.section
    main
      .services-wrapper
        .container
          .row
            -for(var i= 0; i < 5; i++)
              .col-md-5th
                a(href="#",title='Услуга '+i)              
                  .service-card
                    .service-card__thumbnail
                      img(src=img+"services/service.png", alt="")
                      .service-card__title-wrapper
                        | системы бесперебойного питания      
      .container
        .row
          .col-md-12.col-lg-6
            section.section.info-section.about-section
              .row
                .col-12
                 h1.section__header О компании
              .row
                .col-lg-8.order-last.order-lg-first
                  a.link-header(href='#') Augue lectus vitae euismod sagittis. Facilisi fames eget pulvinar gravida id consectetur. Sagittis, id diam dolor laoreet sociis curabitur habitant maecenas. Maecenas.
                  p Nibh sit quisque consequat ultrices quisque dictum tortor. Consectetur sed ullamcorper est feugiat. Magnis luctus augue facilisis feugiat id laoreet pretium arcu vulputate. Volutpat lacus, suspendisse tortor mi pellentesque eget.
                 
                .col-lg-4.order-first.order-lg-last.text-center.text-lg-right
                  img.img-fluid.mb-3(src=img+'man.png', alt='')
              .row
                .col-12.text-center.text-lg-left
                  a.btn(href='#') Узнать больше
          .col-md-12.col-lg-6
            section.section.info-section.partners-section
              .row
                .col-12                  
                    h1.section__header Наши партнеры
              .row
                -for(var i= 0; i < 3; i++)
                  .col-md-12.text-center.col-lg-2
                    img.img-fluid.partner__logo(src=img+'partners/partner.png', alt='partner.png')      
                  .col-md-12.col-lg-10
                    .partner__text
                      a.link-header(href='#')
                        |АО «Куйбышевский нефтеперерабатывающий завод»
                      p Amet feugiat donec sit egestas vitae feugiat adipiscing volutpat, volutpat. Lacinia augue pretium risus eget at imperdiet at quis
    include includes/footer
    include includes/bottom-scripts

index.html
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Главная | Альянс Групп Самара</title>
</head>

<body>
    <header class="header section">
        <div class="first-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4"> <a href="#"><img class="img-fluid first-section__logo" src="img/logo.svg" alt="AG"></a></div>
                    <div class="d-none d-sm-block offset-sm-4 col-sm-4">
                        <div class="first-section__contacts"><a class="contact" href="#">(84635) 4-52-33</a><br><a class="contact" href="#">alians_info@mail.ru</a></div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-md">
            <div class="container"><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link active" href="#">Главная </a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">О компании</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">Документы</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">Референс-лист</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">Партнеры</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">Вакансии</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">Контакты</a></li>
                        <li class="nav-item navbar-nav__item dropdown"><a class="nav-link navbar-nav__link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Услуги</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item navbar-nav__link" href="#">ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ ГАЗОАНАЛИЗАТОРОВ</a><a class="dropdown-item navbar-nav__link" href="#">ДИНАМИЧЕСКИЕ МОДЕЛИ ТРЕНАЖЕРОВ АСУ ТП</a><a class="dropdown-item navbar-nav__link" href="#">СИСТЕМЫ УСОВЕРШЕНСТВОВАННОГО УПРАВЛЕНИЯ ТЕХНОЛОГИЧЕСКИМИ ПРОЦЕССАМИ (СУУТП)</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="header__picture section"></div>
    </header>
    <main>
        <div class="services-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-5th"><a href="#" title="Услуга 0">
                            <div class="service-card">
                                <div class="service-card__thumbnail"><img src="img/services/service.png" alt="">
                                    <div class="service-card__title-wrapper">системы бесперебойного питания </div>
                                </div>
                            </div>
                        </a></div>
                    <div class="col-md-5th"><a href="#" title="Услуга 1">
                            <div class="service-card">
                                <div class="service-card__thumbnail"><img src="img/services/service.png" alt="">
                                    <div class="service-card__title-wrapper">системы бесперебойного питания </div>
                                </div>
                            </div>
                        </a></div>
                    <div class="col-md-5th"><a href="#" title="Услуга 2">
                            <div class="service-card">
                                <div class="service-card__thumbnail"><img src="img/services/service.png" alt="">
                                    <div class="service-card__title-wrapper">системы бесперебойного питания </div>
                                </div>
                            </div>
                        </a></div>
                    <div class="col-md-5th"><a href="#" title="Услуга 3">
                            <div class="service-card">
                                <div class="service-card__thumbnail"><img src="img/services/service.png" alt="">
                                    <div class="service-card__title-wrapper">системы бесперебойного питания </div>
                                </div>
                            </div>
                        </a></div>
                    <div class="col-md-5th"><a href="#" title="Услуга 4">
                            <div class="service-card">
                                <div class="service-card__thumbnail"><img src="img/services/service.png" alt="">
                                    <div class="service-card__title-wrapper">системы бесперебойного питания </div>
                                </div>
                            </div>
                        </a></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <section class="section info-section about-section">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="section__header">О компании</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 order-last order-lg-first"><a class="link-header" href="#">Augue lectus vitae euismod sagittis. Facilisi fames eget pulvinar gravida id consectetur. Sagittis, id diam dolor laoreet sociis curabitur habitant maecenas. Maecenas.</a>
                                <p>Nibh sit quisque consequat ultrices quisque dictum tortor. Consectetur sed ullamcorper est feugiat. Magnis luctus augue facilisis feugiat id laoreet pretium arcu vulputate. Volutpat lacus, suspendisse tortor mi pellentesque eget.</p>
                            </div>
                            <div class="col-lg-4 order-first order-lg-last text-center text-lg-right"><img class="img-fluid mb-3" src="img/man.png" alt=""></div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center text-lg-left"><a class="btn" href="#">Узнать больше</a></div>
                        </div>
                    </section>
                </div>
                <div class="col-md-12 col-lg-6">
                    <section class="section info-section partners-section">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="section__header">Наши партнеры</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center col-lg-2"><img class="img-fluid partner__logo" src="img/partners/partner.png" alt="partner.png"></div>
                            <div class="col-md-12 col-lg-10">
                                <div class="partner__text"><a class="link-header" href="#">АО «Куйбышевский нефтеперерабатывающий завод»</a>
                                    <p>Amet feugiat donec sit egestas vitae feugiat adipiscing volutpat, volutpat. Lacinia augue pretium risus eget at imperdiet at quis</p>
                                </div>
                            </div>
                            <div class="col-md-12 text-center col-lg-2"><img class="img-fluid partner__logo" src="img/partners/partner.png" alt="partner.png"></div>
                            <div class="col-md-12 col-lg-10">
                                <div class="partner__text"><a class="link-header" href="#">АО «Куйбышевский нефтеперерабатывающий завод»</a>
                                    <p>Amet feugiat donec sit egestas vitae feugiat adipiscing volutpat, volutpat. Lacinia augue pretium risus eget at imperdiet at quis</p>
                                </div>
                            </div>
                            <div class="col-md-12 text-center col-lg-2"><img class="img-fluid partner__logo" src="img/partners/partner.png" alt="partner.png"></div>
                            <div class="col-md-12 col-lg-10">
                                <div class="partner__text"><a class="link-header" href="#">АО «Куйбышевский нефтеперерабатывающий завод»</a>
                                    <p>Amet feugiat donec sit egestas vitae feugiat adipiscing volutpat, volutpat. Lacinia augue pretium risus eget at imperdiet at quis</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 footer__section">
                        <h3 class="footer__header">Навигация</h3>
                        <div class="footer__content">
                            <ul>
                                <li class="footer__nav-item"><a class="footer__nav-link active" href="#">Главная</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">О компании</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Документы</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Референс-лист</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Партнеры</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Вакансии</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 footer__section">
                        <h3 class="footer__header">Услуги</h3>
                        <div class="footer__content">
                            <ul>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">системы бесперебойного питания</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">весовое оборудование</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Система вентиляции</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">обслуживание газоанализаторов</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">динамические Тренажеры</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 footer__section">
                        <h3 class="footer__header">О компании</h3>
                        <div class="footer__content">ООО&nbsp;«АльянсГрупп», 446213, Самарская область, г.&nbsp;Новокуйбышевск,<br>ул.&nbsp;Молодежная, д.6, ком.91 </div>
                    </div>
                    <div class="col-lg-3 footer__section footer__section_last">
                        <h3 class="footer__header">Контакты</h3>
                        <div class="footer__content">
                            <p> E-MAIL:<br><a class="contact footer__contact" href="mailto:alians_info@mail.ru">alians_info@mail.ru</a><br>ТЕЛ./ФАКС:<br><a class="contact footer__contact" href="tel:(84635) 4-52-33">(84635) 4-52-33 </a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-center text-sm-left">
                        <p>©2019 ООО «АльянсГрупп»</p>
                    </div>
                    <div class="col-sm-6 text-center text-sm-right mb-3"><a class="footer__nav-link" style="text-transform:none;" href="https://admix.pro">ADMiX Digital Agency</a></div>
                </div>
            </div>
        </div>
    </footer><!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- AutoScroll Script -->
    <script>
    </script>
</body>

</html>
