src/pug/service.pug
doctype html
html(lang="ru")
  include includes/head
  body
    header.header.section
      include includes/first-section
      include includes/navbar
    .container
      .row.section
        .col-sm-12.col-md-8.offset-md-2
          include includes/breadcrumbs
    main
      section.container.section
        .row.section
          .col-sm-12.col-md-8.offset-md-2
              h3.heading Заголовок страницы
        .row
          .col-12
            div(style="background-image:url(img/services/service-top-image.png)").service__picture
        .row.section
          .col-sm-12.col-md-8.offset-md-2
            h3.service__long-title Viverra massa urna libero nunc nisl. Feugiat.
        .row
          .col-sm-12.col-md-8.offset-md-2
            p.section
              |Non aliquet sed senectus gravida vivamus etiam. Nullam sit fames consectetur eget sit nunc fringilla nulla enim. Quisque odio feugiat in id praesent. Metus, ac eu, tincidunt tortor, diam ultricies lacinia aliquam. Eu pulvinar aliquam erat pellentesque amet, tortor nulla amet odio
            h3.heading.section Мы предлагаем:
        .row.justify-content-center.justify-content-center
          -for(var i= 0; i < 5; i++)
            .col-md-5th            
              .service-card.service-card__inner
                a(href="#" data-toggle="modal" data-target="#serviceModal-0") 
                  .service-card__thumbnail
                    img(src="/site-dist/img/services/rectangle-37.png", alt="")
                    .service-card__title-wrapper
                      | Обслуживание
                <div class="modal fade" id="serviceModal-#{i}" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content custom-modal">
                            <div class="modal-header">
                                <h5 class="modal-title" id="serviceModallLabel">Весы автомобильные</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                              p Весы автомобильные электронные подходят для взвешивания любых автомобилей, в том числе перевозящих жидкие и сыпучие грузы. Мы предлагаем автомобильные весы всех разновидностей: для взвешивания автомобиля с полным заездом на платформу (фундаментные, бесфундаментные и передвижные), весы для поосного взвешивания в движении, для поколесного, поосного и потележечного взвешивания в статике, электронные автомобильные подкладные (переносные) весы для мобильного взвешивания. Результаты взвешивания весового оборудования обрабатываются с помощью специализированного программного обеспечения с возможностью ведения баз данных, распечатки отчетов, передачи данных в АСУ и множеством других функции. Промышленные весы автомобильные могут быть изготовлены в цифровом исполнении.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>                

    include includes/footer
    include includes/bottom-scripts

service.html
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Главная | Альянс Групп Самара</title>
</head>

<body>
    <header class="header section">
        <div class="first-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4"> <a href="#"><img class="img-fluid first-section__logo" src="img/logo.svg" alt="AG"></a></div>
                    <div class="d-none d-sm-block offset-sm-4 col-sm-4">
                        <div class="first-section__contacts"><a class="contact" href="#">(84635) 4-52-33</a><br><a class="contact" href="#">alians_info@mail.ru</a></div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-md">
            <div class="container"><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link active" href="#">Главная </a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">О компании</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">Документы</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">Референс-лист</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">Партнеры</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">Вакансии</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link navbar-nav__link_animated-underline" href="#">Контакты</a></li>
                        <li class="nav-item navbar-nav__item dropdown"><a class="nav-link navbar-nav__link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Услуги</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item navbar-nav__link" href="#">ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ ГАЗОАНАЛИЗАТОРОВ</a><a class="dropdown-item navbar-nav__link" href="#">ДИНАМИЧЕСКИЕ МОДЕЛИ ТРЕНАЖЕРОВ АСУ ТП</a><a class="dropdown-item navbar-nav__link" href="#">СИСТЕМЫ УСОВЕРШЕНСТВОВАННОГО УПРАВЛЕНИЯ ТЕХНОЛОГИЧЕСКИМИ ПРОЦЕССАМИ (СУУТП)</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row section">
            <div class="col-sm-12 col-md-8 offset-md-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Вы здесь:</li>
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        <li class="breadcrumb-item active"><a href="/">Cтраница</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <main>
        <section class="container section">
            <div class="row section">
                <div class="col-sm-12 col-md-8 offset-md-2">
                    <h3 class="heading">Заголовок страницы</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="service__picture" style="background-image:url(img/services/service-top-image.png)"></div>
                </div>
            </div>
            <div class="row section">
                <div class="col-sm-12 col-md-8 offset-md-2">
                    <h3 class="service__long-title">Viverra massa urna libero nunc nisl. Feugiat.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8 offset-md-2">
                    <p class="section">Non aliquet sed senectus gravida vivamus etiam. Nullam sit fames consectetur eget sit nunc fringilla nulla enim. Quisque odio feugiat in id praesent. Metus, ac eu, tincidunt tortor, diam ultricies lacinia aliquam. Eu pulvinar aliquam erat pellentesque amet, tortor nulla amet odio</p>
                    <h3 class="heading section">Мы предлагаем:</h3>
                </div>
            </div>
            <div class="row justify-content-center justify-content-center">
                <div class="col-md-5th">
                    <div class="service-card service-card__inner"><a href="#" data-toggle="modal" data-target="#serviceModal-0">
                            <div class="service-card__thumbnail"><img src="/site-dist/img/services/rectangle-37.png" alt="">
                                <div class="service-card__title-wrapper">Обслуживание</div>
                            </div>
                        </a>
                        <div class="modal fade" id="serviceModal-0" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content custom-modal">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="serviceModallLabel">Весы автомобильные</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Весы автомобильные электронные подходят для взвешивания любых автомобилей, в том числе перевозящих жидкие и сыпучие грузы. Мы предлагаем автомобильные весы всех разновидностей: для взвешивания автомобиля с полным заездом на платформу (фундаментные, бесфундаментные и передвижные), весы для поосного взвешивания в движении, для поколесного, поосного и потележечного взвешивания в статике, электронные автомобильные подкладные (переносные) весы для мобильного взвешивания. Результаты взвешивания весового оборудования обрабатываются с помощью специализированного программного обеспечения с возможностью ведения баз данных, распечатки отчетов, передачи данных в АСУ и множеством других функции. Промышленные весы автомобильные могут быть изготовлены в цифровом исполнении.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5th">
                    <div class="service-card service-card__inner"><a href="#" data-toggle="modal" data-target="#serviceModal-0">
                            <div class="service-card__thumbnail"><img src="/site-dist/img/services/rectangle-37.png" alt="">
                                <div class="service-card__title-wrapper">Обслуживание</div>
                            </div>
                        </a>
                        <div class="modal fade" id="serviceModal-1" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content custom-modal">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="serviceModallLabel">Весы автомобильные</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Весы автомобильные электронные подходят для взвешивания любых автомобилей, в том числе перевозящих жидкие и сыпучие грузы. Мы предлагаем автомобильные весы всех разновидностей: для взвешивания автомобиля с полным заездом на платформу (фундаментные, бесфундаментные и передвижные), весы для поосного взвешивания в движении, для поколесного, поосного и потележечного взвешивания в статике, электронные автомобильные подкладные (переносные) весы для мобильного взвешивания. Результаты взвешивания весового оборудования обрабатываются с помощью специализированного программного обеспечения с возможностью ведения баз данных, распечатки отчетов, передачи данных в АСУ и множеством других функции. Промышленные весы автомобильные могут быть изготовлены в цифровом исполнении.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5th">
                    <div class="service-card service-card__inner"><a href="#" data-toggle="modal" data-target="#serviceModal-0">
                            <div class="service-card__thumbnail"><img src="/site-dist/img/services/rectangle-37.png" alt="">
                                <div class="service-card__title-wrapper">Обслуживание</div>
                            </div>
                        </a>
                        <div class="modal fade" id="serviceModal-2" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content custom-modal">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="serviceModallLabel">Весы автомобильные</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Весы автомобильные электронные подходят для взвешивания любых автомобилей, в том числе перевозящих жидкие и сыпучие грузы. Мы предлагаем автомобильные весы всех разновидностей: для взвешивания автомобиля с полным заездом на платформу (фундаментные, бесфундаментные и передвижные), весы для поосного взвешивания в движении, для поколесного, поосного и потележечного взвешивания в статике, электронные автомобильные подкладные (переносные) весы для мобильного взвешивания. Результаты взвешивания весового оборудования обрабатываются с помощью специализированного программного обеспечения с возможностью ведения баз данных, распечатки отчетов, передачи данных в АСУ и множеством других функции. Промышленные весы автомобильные могут быть изготовлены в цифровом исполнении.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5th">
                    <div class="service-card service-card__inner"><a href="#" data-toggle="modal" data-target="#serviceModal-0">
                            <div class="service-card__thumbnail"><img src="/site-dist/img/services/rectangle-37.png" alt="">
                                <div class="service-card__title-wrapper">Обслуживание</div>
                            </div>
                        </a>
                        <div class="modal fade" id="serviceModal-3" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content custom-modal">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="serviceModallLabel">Весы автомобильные</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Весы автомобильные электронные подходят для взвешивания любых автомобилей, в том числе перевозящих жидкие и сыпучие грузы. Мы предлагаем автомобильные весы всех разновидностей: для взвешивания автомобиля с полным заездом на платформу (фундаментные, бесфундаментные и передвижные), весы для поосного взвешивания в движении, для поколесного, поосного и потележечного взвешивания в статике, электронные автомобильные подкладные (переносные) весы для мобильного взвешивания. Результаты взвешивания весового оборудования обрабатываются с помощью специализированного программного обеспечения с возможностью ведения баз данных, распечатки отчетов, передачи данных в АСУ и множеством других функции. Промышленные весы автомобильные могут быть изготовлены в цифровом исполнении.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5th">
                    <div class="service-card service-card__inner"><a href="#" data-toggle="modal" data-target="#serviceModal-0">
                            <div class="service-card__thumbnail"><img src="/site-dist/img/services/rectangle-37.png" alt="">
                                <div class="service-card__title-wrapper">Обслуживание</div>
                            </div>
                        </a>
                        <div class="modal fade" id="serviceModal-4" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content custom-modal">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="serviceModallLabel">Весы автомобильные</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Весы автомобильные электронные подходят для взвешивания любых автомобилей, в том числе перевозящих жидкие и сыпучие грузы. Мы предлагаем автомобильные весы всех разновидностей: для взвешивания автомобиля с полным заездом на платформу (фундаментные, бесфундаментные и передвижные), весы для поосного взвешивания в движении, для поколесного, поосного и потележечного взвешивания в статике, электронные автомобильные подкладные (переносные) весы для мобильного взвешивания. Результаты взвешивания весового оборудования обрабатываются с помощью специализированного программного обеспечения с возможностью ведения баз данных, распечатки отчетов, передачи данных в АСУ и множеством других функции. Промышленные весы автомобильные могут быть изготовлены в цифровом исполнении.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 footer__section">
                        <h3 class="footer__header">Навигация</h3>
                        <div class="footer__content">
                            <ul>
                                <li class="footer__nav-item"><a class="footer__nav-link active" href="#">Главная</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">О компании</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Документы</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Референс-лист</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Партнеры</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Вакансии</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 footer__section">
                        <h3 class="footer__header">Услуги</h3>
                        <div class="footer__content">
                            <ul>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">системы бесперебойного питания</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">весовое оборудование</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">Система вентиляции</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">обслуживание газоанализаторов</a></li>
                                <li class="footer__nav-item"><a class="footer__nav-link" href="#">динамические Тренажеры</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 footer__section">
                        <h3 class="footer__header">О компании</h3>
                        <div class="footer__content">ООО&nbsp;«АльянсГрупп», 446213, Самарская область, г.&nbsp;Новокуйбышевск,<br>ул.&nbsp;Молодежная, д.6, ком.91 </div>
                    </div>
                    <div class="col-lg-3 footer__section footer__section_last">
                        <h3 class="footer__header">Контакты</h3>
                        <div class="footer__content">
                            <p> E-MAIL:<br><a class="contact footer__contact" href="mailto:alians_info@mail.ru">alians_info@mail.ru</a><br>ТЕЛ./ФАКС:<br><a class="contact footer__contact" href="tel:(84635) 4-52-33">(84635) 4-52-33 </a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-center text-sm-left">
                        <p>©2019 ООО «АльянсГрупп»</p>
                    </div>
                    <div class="col-sm-6 text-center text-sm-right mb-3"><a class="footer__nav-link" style="text-transform:none;" href="https://admix.pro">ADMiX Digital Agency</a></div>
                </div>
            </div>
        </div>
    </footer><!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- AutoScroll Script -->
    <script>
    </script>
</body>

</html>
